* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    line-height: 1.5;
  }
}
